.guide {
  border: 2px #004400 solid;
  height: 110px;
  padding: 10px 12px 6px;
  width: calc(100% - 12px * 2 - 2px * 2);
  display: flex;
  flex-direction: column;

  &__controls {
    align-self: end;
    margin-top: auto;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
  }

  &__controls_button {
    background-color: black;
    color: green;
    border: none;
    font-size: 18px;
    padding-top: 3px;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      color: #003300;
      cursor: default;
    }
  }
}
